*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar{
    height:8vh;
}
.navbar{
display:flex;
}
.leftnav{
    display:flex;
    width:50%;
    background-color:aqua;
    /* justify-content:center; */
    align-items:center;
}
.rightnav{
    background-color:bisque;
    width:50%;
    text-align:right;
}
.image img{
    width:33px;
    border:2px solid white;
    border-radius:50px;
}
.leftnav li a{
text-decoration:none;
margin-left:25px;
}
.leftnav li{
list-style:none;
padding-left:35px;
/* margin-left:25px; */
} 
